<p>
  Reach out to me on:
  <div class="container">
    <a href="https://twitter.com/ChrisCanCompute">
      <div class="row">
        <div class="col-1">
          <img src="images/Twitter.png"/>
        </div>
        <div class="col-auto">
          Twitter
        </div>
      </div>
    </a>
    <a href="https://github.com/ChrisCanCompute">
      <div class="row">
        <div class="col-1">
          <img src="images/Github.png"/>
        </div>
        <div class="col-auto">
          Github
        </div>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/chrisa89/">
      <div class="row">
        <div class="col-1">
          <img src="images/LinkedIn.png"/>
        </div>
        <div class="col-auto">
          LinkedIn
        </div>
      </div>
    </a>
    <a href="https://www.skillshare.com/profile/Chris-Arnott/9001011">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-auto">
          SkillShare
        </div>
      </div>
    </a>
  </div>
</p>
<p>
  Follow my ginger cat Alfie on <img src="images/Instagram.png"/> <a href="https://www.instagram.com/thegreatalphonso/">Instagram</a>
</p>
