<p>
  Contact me on social media:
  <ul>
    <li>
      <img src="images/Twitter.png"/>
      <a href="https://twitter.com/">&nbsp;&nbsp;Twitter</a>
    </li>
    <li>
      <img src="images/Github.png"/>
      <a href="https://github.com/">&nbsp;&nbsp;Github</a>
    </li>
    <li>
      <img src="images/LinkedIn.png"/>
      <a href="https://www.linkedin.com/">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.skillshare.com/">SkillShare</a>
    </li>
    <li>
      <img src="images/Instagram.png"/>
      <a href="https://www.instagram.com/">Instagram</a>
    </li>
  </ul>
</p>
