<p>
  Reach out to me on:
  <div class="container">
    <a href="https://twitter.com/ChrisCanCompute">
      <div class="row">
        <div class="col-1" style="min-width: 50px;">
          <img src="images/Twitter.png"/>
        </div>
        <div class="col-auto" style="flex-grow: 1; max-width:100%;">
          Twitter
        </div>
      </div>
    </a>
    <a href="https://github.com/ChrisCanCompute">
      <div class="row">
        <div class="col-1" style="min-width: 50px;">
          <img src="images/Github.png"/>
        </div>
        <div class="col-auto" style="flex-grow: 1; max-width:100%;">
          Github
        </div>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/chrisa89/">
      <div class="row">
        <div class="col-1" style="min-width: 50px;">
          <img src="images/LinkedIn.png"/>
        </div>
        <div class="col-auto" style="flex-grow: 1; max-width:100%;">
          LinkedIn
        </div>
      </div>
    </a>
    <a href="https://www.skillshare.com/profile/Chris-Arnott/9001011">
      <div class="row">
        <div class="col-1" style="min-width: 50px;"></div>
        <div class="col-auto" style="flex-grow: 1; max-width:100%;">
          SkillShare
        </div>
      </div>
    </a>
  </div>
</p>
<p>
  Follow my ginger cat Alfie on <a href="https://www.instagram.com/thegreatalphonso/"> <img src="images/Instagram.png"/>Instagram</a>
</p>
