<p>
  Reach out to me on:
  <ul>
    <li>
      <img src="images/Twitter.png"/>
      <a href="https://twitter.com/ChrisCanCompute">&nbsp;&nbsp;Twitter</a>
    </li>
    <li>
      <img src="images/Github.png"/>
      <a href="https://github.com/ChrisCanCompute">&nbsp;&nbsp;Github</a>
    </li>
    <li>
      <img src="images/LinkedIn.png"/>
      <a href="https://www.linkedin.com/in/chrisa89/">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.skillshare.com/profile/Chris-Arnott/9001011">SkillShare</a>
    </li>
  </ul>
</p>
<p>
  Follow my ginger cat Alfie on <img src="images/Instagram.png"/> <a href="https://www.instagram.com/thegreatalphonso/">Instagram</a>
</p>
