<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/menu.ejs %>

  <h1>
    <img src="images/Chris.jpg" />
    Chris Arnott's personal site</h1>
  <p>
    Currently a Software developer at <a href="https://www.gresearch.co.uk/">GResearch</a>, working with F# to make systems easier to test and deploy.
  </p>
  <% include ../partials/links.ejs %>
</body>
</html>
