<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/bootstrapJs.ejs %>

  <% include ../partials/menu.ejs %>
  <div class="container">
    <div class="row align-items-center">
        <div class="col-auto">
          <img src="images/Chris.png" />
        </div>
        <div class="col-auto">
          <h1><p>Chris Arnott's personal site</p></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">
          Currently a Software developer at <a href="https://www.gresearch.co.uk/">GResearch</a>, working with <a href="https://fsharp.org/">F#</a> to make systems easier to test and deploy.
        </p>
      </div>
    </div>
    <% include ../partials/links.ejs %>
  </div>
</body>
</html>
