<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/bootstrapJs.ejs %>

  <% include ../partials/menu.ejs %>
  <h1>
    <img src="images/Chris.png" />
    Chris Arnott's personal site
  </h1>
  <p>
    Currently a Software developer at <a href="https://www.gresearch.co.uk/">GResearch</a>, working with <a href="https://fsharp.org/">F#</a> to make systems easier to test and deploy.
  </p>
  <% include ../partials/links.ejs %>
</body>
</html>
