<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/bootstrapJs.ejs %>

  <% include ../partials/menu.ejs %>
  <h1>
    <img src="images/YourPicture.png" />
    Your personal website!
  </h1>
  <p>
    Well done for getting the site running!
    Here are some things you can do to make the site about you.
    <ol>
      <li>Change the picture in public/images/YourPicture.jpg</li>
      <li>Update the links in views/partials/links.ejs to point to your social media accounts</li>
      <li>Update this text in views/pages/index.ejs</li>
    </ol>
  </p>
  <p>
    Feel free to ask me questions if you get stuck!
  </p>
  <% include ../partials/links.ejs %>
</body>
</html>
