<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/bootstrapJs.ejs %>

  <% include ../partials/menu.ejs %>
  <div class="container">
    <div class="row align-items-center">
        <div class="col-sm-2 text-center">
          <img src="images/Chris.png" />
        </div>
        <div class="col-sm-10">
          <h2 class="text-center">Chris Arnott's personal site</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p />
        <p class="text-center">
          Currently a Software developer at <a href="https://www.gresearch.co.uk/">GResearch</a>, working with <a href="https://fsharp.org/">F#</a> to make systems easier to test and deploy.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <% include ../partials/links.ejs %>
      </div>
    </div>
  </div>
</body>
</html>
